# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo

# VSCode
.vscode/

# Node
node_modules/
/dist/

# Docker
*.log
**/localstack/*

# OS
.DS_Store
Thumbs.db
